*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:whitesmoke;
    font-family: montserrat;
}
.white{
    background-color: white;
}
.head{
    height: 10%;
}
#logo{
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    vertical-align: middle;
}
.textlogo{
    display: inline-block;
    font-family:montserrat;
    vertical-align: middle;
    font-size: 3rem;
    
}
.s1{
    margin: auto;
    width: 70%;
    padding: 1rem;
    margin-top: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.button1{
    margin-left: 2rem;
    background-color:#19bfff;
    border-radius: 4px;
    padding: 6px;
    color: white;
    border-color: #19bfff;
    border-width: 0;
}
.button2{
    margin-left: 0.2rem;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    color: lightgray;
    border-color: lightgrey;
    border-width: 1px;
}
.s2{
    margin: auto;
    width: 70%;
    padding: 1rem;
    margin-top: 0.1rem;
    line-height: 2.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: 1rem;
    
}
.freccia{
    font-size: 0.6rem;
}
.intestazione{
    margin-left: 0.3rem;
}
.cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 18px;
    margin right: 1;
    text-align: center;
}
.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 18px;
    margin right: 1;
    text-align: center;
}
.cerchio{
    background-color: #2bbfff;
    border-radius: 10px;
    padding: 0.3rem;
    color: white;
    font-size: 0.7rem;
}
.principale{
    margin-top: 1rem;
}
/* color */
.viola{
    background-color: #a273ec;
}
.verde{
    background-color: #04ccb0;
}
.arancione{
    background-color: orange;
}
.lailac{
    background-color: violet;
}
.lime{
    background-color: yellowgreen;
}
